@media screen and (max-width:560px){

*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: 'Patua One', cursive;
  color: #13191b;
}

.wrap{
  overflow: hidden;
}

.m-button-pc{
  display: none;
}

.m-button-sp {
  display: inline-block;
  width: 162px;
  height: 46px;
  line-height: 48px;
  font-size: 14px;
  color: #13191b;
  border: 1px solid #13191b;
  text-align: center;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: 0.5s;
  margin: 20px;
}

.m-button-sp-wrapper{
  text-align: center;
}

.header-fadein{
  opacity : 0;
  transition: all 1s;
}

.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}

/* ここからmain部分のCSS */

.main{
  background: url("img/main.jpg") center center;
  width: 100%;
  height: 800px;
}

.header-logo{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 150px;
  padding: 10px 10px;
  background-color: #f6f6f6;
  text-align: center;
  border-radius: 2px;
}

.logo-text{
  color:black;
  font-weight: bold;
  text-decoration: none;
}


.header-navgroup{
  transform: translateY(-100vw);
  transition: 0.3s  ease-out;
  color: white;
}

.header-navgroup-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 2px;
}

.header-navgroup.is-active{
  transform: translateX(0);
}

.header-navgroup >ul{
  list-style: none;
  padding: 0;
}

.header-navgroup >ul >li >a{
  color: white;
  text-decoration: none;
  display: block;
  border: solid 0.5px gray;
  padding: 15px 0 15px 30px;
  background-color: black;
}

/* ここまでmain部分のCSS */

/* ここからcopy部分のCSS */
.copy{
  background-color: #f6f6f6;
  padding: 100px 0;
}

.copy-inner{
  max-width: 400px;
  margin: 0 10% 0 10%;
}

.copy-inner >h1{
  text-align: center;
  margin-bottom: 20px;
}

.copy-inner >p{
  line-height: 1.8em;
}

.sample::before{
  content: "「 "
}

.sample::after{
  content: " 」";
  font-weight: bold;

}

.sample{
  display: block;
  text-align: center;
  white-space: nowrap;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

/* ここまでcopy部分のCSS */

/* ここからproduct部分のCSS */
.product{
  margin: 50px auto;
  width: 80%;
}

.product-title{
  display: flex;
  margin: 50px 0px;
  justify-content: flex-start;
  align-items: center;
}

.product-title >h2{
  font-size:35px;
}

.product-title >a{
  margin-left: auto;
}

.product-lineup{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.a-product{
  margin: 20px 10px;
  text-align: center;
  transition: 0.3s;
}

.a-product >img{
  width: 200px;
  border-radius: 0 20px 20px 5px ;
  box-shadow: 5px 3px white, 7px 5px 6px #777;;
}

/* ここまでproduct部分のCSS */

/* ここからnews部分のCSS */
.news{
  background-color: #f6f6f6;
  padding: 50px 0;
}

.news-inner{
  width: 80%;
  margin:auto;
}

.news-title{
  display: flex;
  justify-content: flex-start;
  margin: 50px 0px;
  align-items: center;
}

.news-title >h2{
  font-size:35px;
}

.a-news{
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
}

.a-news-right {
  min-width: 250px;
}

.a-news-left {
  margin: auto;
}

.a-news-left >img{
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5%;
}

.a-news-right >h3{
  margin-top: 0;
  text-align: center;
}

/* ここまでnews部分のCSS */

/* ここからsns部分のCSS */
.top-scroll{
  background-color: white;
  background-image: url(img/arrow.png);
  margin: -25px auto 0 auto;
  width:50px;
  height: 50px;
  border-radius: 50%;
  background-size: contain;
  transition: 0.5s;
}

.sns-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 35px;
}

.sns-bnr{
  margin: 5px 5px;
  padding: 10px 20px;
  width: 150px;
  text-decoration: none;
  text-align: center;
}

#facebook{
  color: #4871a9;
  border: 0.5px solid #4871a9;
}

#twitter{
  color: #70bdd3;
  border: 0.5px solid #70bdd3;
}

#hatena{
  color: #2f9bcd;
  border: 0.5px solid #2f9bcd;
}

#line{
  color: #8ec09d;
  border: 0.5px solid #8ec09d;
}

/* ここまでsns部分のCSS */

/* ここからnav部分のCSS */
.nav{
  background-color: #939899
}

.nav-group{
  margin: 0 50px;
  padding: 0px 0;
  margin: auto;
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.nav-group >li >a{
  display: block;
  text-decoration: none;
  color: white;
  border-top: solid 0.5px white;
  padding: 20px 0 ;
  color: white;
}


.copyright{
  background-color: #656c6e;
  color: white;
  text-align:right;
  padding: 20px 10px 20px ;
}
/* ここまでnav部分のCSS */
}
